*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    overflow: hidden;
}




/*************** UTILITY **************** */


/* width */
::-webkit-scrollbar {
    width: 5px;
    }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.content_wrapper_padding{padding: 1rem 1.5rem;
    overflow-y: scroll;
    height: 100vh;
    padding-bottom: 10rem;}



.margin_top_xs{
    margin-top: 1rem;

}
.margin_top_s{
    margin-top: 2rem;

}

.margin_top_m{
    margin-top: 5rem;

}

.flex{
    display: flex;
}


.flex_column{
flex-direction: column;    
}

.wrap{flex-wrap: wrap;}

.gap{gap: 10px;
}

.align_center{
    align-items: center;
}
.justify_column{
    justify-content: space-between;
}
.justify_end{
    justify-content: flex-end;
}
.justify_center{
    justify-content: center;
}


.btn{
    color: white;
    border: 1.5px solid white;
    padding: .6rem 2rem;
    text-decoration: none;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: .5px;
    font-weight: 600;
    margin-right: 1rem;
}



/*************** UTILITY **************** */









/************** TIPOGRAPHY **************/
h1,h2,h3,h4,.userName{
    color: white;
}

h3{font-size: .8rem;
    text-align: center;

}

.content_sec h2{
    margin-top: 2.5rem;
}

.content_sec h3{
    margin-top: 1rem;
}
.content_sec p{
    margin-top: .5rem;
}


.content_sec p.song_author{
    font-size: .7rem;
    text-align: center;
    margin-top: .1rem;
}

p,.playlist_list li, .content_nav_list{color: #7D7F84;
font-size: .8rem;
font-weight: 600;
}

.sidebar_home{
    color:#D2D2D2;
}

/************** TIPOGRAPHY **************/


/************** SIZES **************/


.body_container{
    width:100%;
    height: 100vh;

}

.main_content{
    height:100vh;
    width:100%;
}

.main_content_wrapper{
    min-height: 100vh;
    width: 100%;
    
}

.sidebar{
    width:200px;
    height: calc(100% - 80px);
    background-color: black;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
}

.content{
    width: 100%;
    height: 100%;
    background-color: #141922;
    margin-left: 200px;
}


.content .header{
    height: 75px;
    background-color:#080b12b4;
    position: fixed;
    width: calc(100% - 200px);
    top: 0;
    right: 0;
    z-index: 1000;

}





.footer_content{
    height: 80px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    left:0;
    bottom: 0;
    padding:0 .5rem;
}


/************** SIZES **************/





/**************** SIDEBAR *******************/




/** SIDEBAR - logo**/

.logo_wrapper{
    width: 60%;
}

.logo_complete{
    width: 100%;
}

.logo_small{
    display: none;
}
/**SIDEBAR - logo**/





/** SIDEBAR - NAV **/
.home{position: relative;
    color: #D2D2D2;}
    
    .home::before{
        content: "";
        height: 2rem;
        width: 3px;
        background-color: #1DB954
        ;
        position: absolute;
        top: 0;
        left:-1rem;
    }
    


.sidebar_text{
    margin-left: .5rem;
}


.sidebar_icon{width: 13%;
    fill: #7D7F84;}

.sidebar_icon:hover{
    fill: white;
}




/** SIDEBAR - NAV **/




/** SIDEBAR - Playlist **/



.fa-plus-square{
    color: #D2D2D2;
    font-size: 2.5rem;
}

.playlist_list, .content_nav_list{
    list-style: none;
}

.playlist_text{
    margin-left: .5rem;
}
.playlist_list li{
    margin-top: 1rem;

}





/** SIDEBAR - BOTTOM **/


.sidebar_bottom{align-items: center;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1rem;
    position: absolute;
    background-color: black;
}



.fa-arrow-alt-circle-down{
    color: #7D7F84;
}

.app_callTo{
    border-bottom: 1px solid #7D7F84;
}




.app_callTo{
    padding-bottom: .5rem;
}
.app_callTo p, .userName{
    margin-left: .5rem;
}

.profile{
    margin-top: .5rem;
}

.profile_img{
    width: 25px;
    height: 25px;
    background-color: #7D7F84;
    border-radius: 50%;
    background-image: url(./img/profile.svg);
    background-size: cover;
}



/**************** CONTENT *******************/



/** CONTENT - content_nav**/



.content_nav_list{
    font-weight: 700;
    height: 60px;
    align-content: space-between;
    text-align: center;

}

.content_nav_list li{
    margin: 0 .5rem;
}
.current{position: relative;}


.current::after{
    content: "";
    height: 3px;
    width: 1.5rem;
    background-color: #1DB954;
    position: absolute;
    bottom:-5px;
    left:40%
}

/** CONTENT - content_rows**/


a{
    text-decoration: none;
    color: #7D7F84;
    transition:all 250ms;
}

a:hover{text-decoration: underline;}

.content_row{
    flex-wrap: nowrap;
    max-width: 100%;
}
.song.flex.flex_column.align_center {
    width: calc(100% / 6.2);
}

.song_cover_img{
    width: 100%;
    height: 100%;
    position: relative;
    
}
.song_cover_img img{
    width: 100%;
    object-fit: cover;

}

.song_cover_img::before{
    position: absolute;
    content: "";
    inset: 0;
    background:linear-gradient(172deg, 
    rgba(0, 0, 0, 0.904) 0%,
    rgba(32, 32, 32, 0.795) 100%);;
    opacity: 0;
    cursor: pointer;
    
}

.song_cover_img.circle::before{
   border-radius: 50%;
}



.song_cover_img .fa-play-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3.5rem;
    opacity: 0;

}




.circle{
    border-radius: 50%;
    
    
}


/**************** FOOOTER *******************/
.small_song_cover_image{
    height: 45px;
    width: 45px;
    margin-right: 1rem;
}
.small_song_cover_image img{
    object-fit: cover;
    width: 100%;
}
.song_info h4{
    font-size: .8rem;
}
.song_info p{
    font-size: .65rem;
}


.fav_icons{
    color: #7D7F84;
    margin-left: 3rem;
}
.fav_icons i{
    margin: 0 .5rem;
}



/* FOOTER - PLAYER */


.player_buttons{width:30%}

.player_buttons i{
    color: white;
    font-size: 1rem;
}

.player_buttons .fa-play-circle{
    font-size: 1.7rem;
}


.player_settings i{
    font-size: 1rem;
    color: #7D7F84;
}

.timer{
    font-size: .6rem;
    color: #D2D2D2;
}



.player_bar{
    margin-top: .5rem;
}

.bar_bg{
    height: 3px;
    width: 420px;
    background-color: #7D7F84;
    border-radius: 3px;
    margin: 0 1.5rem;
    cursor: pointer;

}
.bar_bg .bar_color{
    height: 3px;
    width: 200px;
    background-color: #D2D2D2;
    border-radius: 3px;
    position: relative;

}

.bar_bg .bar_color::after{
    content: "";
    top:-3px;
    right:-5px;
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 10px;
    background-color: #D2D2D2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.582);
    display: none;
}




.volume_bar_bg{
    height: 3px;
    width: 100px;
    background-color: #7D7F84;
    border-radius: 3px;
    margin-left: .5rem;
    cursor: pointer;
}

.volume_bar_color{
    height: 3px;
    width: 25px;
    background-color: #D2D2D2;
    border-radius: 3px;
    position: relative;

}


.volume_bar_bg .volume_bar_color::after{
    content: "";
    top:-3px;
    right:-5px;
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 10px;
    background-color: #D2D2D2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.582);
    display: none;
}


.player_settings i{
    margin-right: .7rem;
    font-size: .8rem;
}

.player_settings .fa-volume-down{
    margin-right: 0;
}
/** FOOTER **/




/******   HOVER **********/

.sidebar_text, ul li,
i, 
.bar_bg,
.bar_color,
.volume_bar_bg,
.volume_bar_color,
.bar_color::after,
.volume_bar_color::after,
.btn,
.add_playlist,
p,
.song_cover_img::before,
.sidebar_icon
{
    transition: all 250ms;
}

.sidebar_nav_item:hover .sidebar_icon,
.sidebar_nav_item:hover .sidebar_text{
    color: white;
    cursor: pointer;
    fill: white;
}



ul li:hover, i:hover{color: #d2d2d2;
cursor: pointer;}



.bar_bg:hover .bar_color,
.volume_bar_bg:hover .volume_bar_color{
    background-color: #1DB954;
   
}




.bar_bg:hover .bar_color::after,
.volume_bar_bg:hover .volume_bar_color::after{
    display: block;
}


.btn:hover{
    transform: scale(1.1);
}


.add_playlist:hover i,
.add_playlist:hover p
{
    color: white;
    cursor: pointer;
}

.song_info p:hover{
    text-decoration: underline;
    cursor: pointer;
}



 .song_cover_img:hover::before{
    opacity: .5;
}



.song_cover_img:hover .fa-play-circle{
    opacity: 1;

}






@media screen and (max-width:510px) {
    .sidebar{
        width:60px;
      
    }
    .sidebar_icon{width: 100%;}
    
    .content{
        
        margin-left: 60px;
    }
    .content_row{
        flex-wrap: wrap;
        width: 100%;
        row-gap: 20px;
        column-gap: 0px;
    }
    .song.flex.flex_column.align_center {
        width:100%;
    }
    
    .content .header{
      
        width: calc(100% - 60px);
       
    }

    .logo_wrapper{
        width: 100%;
    }

    .logo_small{
        display: inline-block;
        width: 100%;
    }

    .fa-arrow-alt-circle-down {
        font-size: 1.5rem;}


    .sidebar p,
    .sidebar h3,
    .logo_complete,
    .home::before,
    .add_playlist,
    .playlist_list{display: none;}


    .sidebar_bottom{align-items: center;
        }


    .small_song_cover_image {
        height: 30px;
        width: 30px;
        margin-right: .3rem;
    }


    .fav_icons{margin-left: 0;
        flex-direction: column;
        
    }
    .fav_icons i{margin: .2rem;}

    .song_info h4{
        font-size: .6rem;
    }
    .song_info p{
        font-size: .5rem;
    }
    



    .bar_bg{
        width: 70px;
        margin:0 .5rem
        }


    .bar_bg .bar_color{
        width: 25px;
        }

        .player{
            width: 30%;
        }



    .player_buttons {
        width: 100%;
    justify-content: space-between;
        }




    .player_buttons {
        width: 100%;
    justify-content: space-between;
        }


    .footer_content i{
        transform: scale(.7);
    }
    .player_settings i {
        margin-right: .2rem;
    }
    
    .volume_bar_bg{
       
        width: 35px;
        
    }

    .volume_bar_color{
        
        width: 8px;}
        

    .content_nav_list {
        height: 110px;}
    .current::after{
        bottom: -1px;
        height: 2px;
    }
    











}












@media screen and (min-width:510px) and (max-width:840px){
    .gap{gap: 0px;
        row-gap: 10px;
    
    }


    .song.flex.flex_column.align_center {
        width: calc(100% / 2.2);
    }

    .bar_bg{
        width: 150px;
        margin:0 .5rem
        }


    .bar_bg .bar_color{
        width: 71px;
        }

    .player_buttons {
        width:50%
        }

    .content_row{flex-wrap: wrap;
    justify-content: space-between;}



    .fav_icons{margin-left: 1rem;
        
    }
    .fav_icons i{margin: .2rem;}



    
    .volume_bar_bg{
       
        width: 60px;
        
    }

    .volume_bar_color{
        
        width: 15px;}


        .content_nav_list {
            height: 80px;}
            


}



@media screen and (min-width:840px) and (max-width:900px){
    .bar_bg{
        width: 400px;
        margin:0 .5rem
        }

        .gap{
            gap: 5px;
        }

  


    .bar_bg .bar_color{
        width: 190px;
        }

        .content_row{
            flex-wrap: wrap;
            max-width: 100%;
        }
        .song.flex.flex_column.align_center {
            width: calc(100% / 4.2);
        }
        
        .song_cover_img{
            max-width: 100%;
            max-height: 100%;
            position: relative;
            
        }

}

@media screen and (max-height:600px) {
    .playlist_list{
    overflow-y: scroll;
    height: 100px;
    }

    .header{display: none;}
}

/************ artist page ++++++++++++++++++ */


#artist_page .content .header{
    background-color: rgba(8, 11, 18, 0);
}

#artist_page .content .nav_arrows{
    color:#D2D2D2;
    margin-left: 1rem;
}
#artist_page .content .nav_arrows i{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #282828;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    font-size: .8rem;
    margin-left: 1rem;

}

#artist_page .btn{
    padding: 0rem 1rem;
    background-color: #282828;
    font-size: .5rem;
    letter-spacing: 1.5px;
}

#artist_page .utente_btn .fa-caret-down:before {
    content: "\f0d7";
    vertical-align: text-bottom}

    #artist_page .btn:hover{
        text-decoration: none;
    }


#artist_page .utente_btn{
    padding-left: 0;
    width: 130px;
    text-transform: none;
    letter-spacing: 0px;
    font-size: .6rem;
    border: none;


}

#artist_page .utente_btn .profile_img{
    background-color: #555;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 13px;

}


#artist_page .content_wrapper_padding {
    padding: 0;
}

#artist_page .content_sec{
    padding: 0rem 1.5rem;
    padding-bottom: 10rem;
}


#artist_page .hero_bg{
    width: 100%;
    height: 300px;
    background-image: 
    linear-gradient(red, blue),
    url(./img/Paul_Kalkbrenner_Berlin_2.5.jpg);
    background-size: cover;
    background-blend-mode: multiply;

}

.hero_bg_content{padding-top: 13%;
padding-left: 1rem;}

.fa-check-circle{
    color: #15c7f7;
    margin-right: .5rem;
}


#artist_page .hero_bg_content p{
    color: #D2D2D2;
}
#artist_page .hero_bg_content h2{
    font-size: 4rem;
}